<div class="page__footer-follow">
  <div class="footer-brand">
    <img src="/assets/images/kcdp_logos_banner.png" alt="Kansas City Data Professionals logo">
    <p class="footer-tagline">{{ site.tagline }}</p>
  </div>

  <ul class="socials">
    {% for link in site.footer.links %}
    {% if link.url %}
    <li class="socials__item">
      <a href="{{link.url}}" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="{{link.label}}">
        <i class="{{link.icon}} footer-icon" aria-hidden="true"></i>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.footer.copyright | default: site.title }}.
</div>
